In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
data = pd.read_csv("us-counties.csv")

In [18]:
data = pd.DataFrame(data)
data.head()

        date     county       state     fips  cases  deaths
0  1/21/2020  Snohomish  Washington  53061.0      1       0
1  1/22/2020  Snohomish  Washington  53061.0      1       0
2  1/23/2020  Snohomish  Washington  53061.0      1       0
3  1/24/2020       Cook    Illinois  17031.0      1       0
4  1/24/2020  Snohomish  Washington  53061.0      1       0

In [21]:
#Start with January datasets
data['date'] = pd.to_datetime(data['date'])

start_date = '1/21/2020'
end_date = '1/31/2020'

january_cases = (data['date'] >= start_date) & (data['date'] <= end_date)
januardata.loc[january_cases]
#Group by States and then County

#delete fips column

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1       0
1  2020-01-22    Snohomish  Washington  53061.0      1       0
2  2020-01-23    Snohomish  Washington  53061.0      1       0
3  2020-01-24         Cook    Illinois  17031.0      1       0
4  2020-01-24    Snohomish  Washington  53061.0      1       0
5  2020-01-25       Orange  California   6059.0      1       0
6  2020-01-25         Cook    Illinois  17031.0      1       0
7  2020-01-25    Snohomish  Washington  53061.0      1       0
8  2020-01-26     Maricopa     Arizona   4013.0      1       0
9  2020-01-26  Los Angeles  California   6037.0      1       0
10 2020-01-26       Orange  California   6059.0      1       0
11 2020-01-26         Cook    Illinois  17031.0      1       0
12 2020-01-26    Snohomish  Washington  53061.0      1       0
13 2020-01-27     Maricopa     Arizona   4013.0      1       0
14 2020-01-27  Los Angeles  California   6037.0      1       0
15 2020-01-27       Orange  California   6059.0      1       0
16 2020-01-27         Cook    Illinois  17031.0      1       0
17 2020-01-27    Snohomish  Washington  53061.0      1       0
18 2020-01-28     Maricopa     Arizona   4013.0      1       0
19 2020-01-28  Los Angeles  California   6037.0      1       0
20 2020-01-28       Orange  California   6059.0      1       0
21 2020-01-28         Cook    Illinois  17031.0      1       0
22 2020-01-28    Snohomish  Washington  53061.0      1       0
23 2020-01-29     Maricopa     Arizona   4013.0      1       0
24 2020-01-29  Los Angeles  California   6037.0      1       0
25 2020-01-29       Orange  California   6059.0      1       0
26 2020-01-29         Cook    Illinois  17031.0      1       0
27 2020-01-29    Snohomish  Washington  53061.0      1       0
28 2020-01-30     Maricopa     Arizona   4013.0      1       0
29 2020-01-30  Los Angeles  California   6037.0      1       0
30 2020-01-30       Orange  California   6059.0      1       0
31 2020-01-30         Cook    Illinois  17031.0      2       0
32 2020-01-30    Snohomish  Washington  53061.0      1       0
33 2020-01-31     Maricopa     Arizona   4013.0      1       0
34 2020-01-31  Los Angeles  California   6037.0      1       0
35 2020-01-31       Orange  California   6059.0      1       0
36 2020-01-31  Santa Clara  California   6085.0      1       0
37 2020-01-31         Cook    Illinois  17031.0      2       0
38 2020-01-31    Snohomish  Washington  53061.0      1       0