In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("us-counties.csv")

In [3]:
data = pd.DataFrame(data)
del data['fips']

In [4]:
data.head(8)

        date     county       state  cases  deaths
0  1/21/2020  Snohomish  Washington      1       0
1  1/22/2020  Snohomish  Washington      1       0
2  1/23/2020  Snohomish  Washington      1       0
3  1/24/2020       Cook    Illinois      1       0
4  1/24/2020  Snohomish  Washington      1       0
5  1/25/2020     Orange  California      1       0
6  1/25/2020       Cook    Illinois      1       0
7  1/25/2020  Snohomish  Washington      1       0