In [1]:
# Using Pandas to analyze a dataframe of countries
import pandas as pd

In [2]:
facts = "factbook.csv"

In [3]:
factbook = pd.read_csv(facts, sep = ";")

In [4]:
factbook

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,0,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6.00
6,Andorra,468,9.00,NaN,6.07,NaN,NaN,NaN,58000000,1900000000,...,NaN,NaN,70549,NaN,NaN,NaN,35000,23500,1.29,0.00
7,Angola,1246700,44.64,-37880000,25.90,10450000000,1587000000,1707000000,12760000000,23170000000,...,980000,22880000000,11190786,NaN,2761,800000000,96300,130000,6.27,NaN
8,Anguilla,102,14.26,NaN,5.43,8800000,42600000,NaN,2600000,112000000,...,NaN,NaN,13254,NaN,NaN,NaN,6200,1800,1.73,8.00
9,Antarctica,14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
10,Antigua and Barbuda,443,17.26,NaN,5.44,231000000,103000000,110800000,689000000,750000000,...,0,NaN,68722,NaN,NaN,NaN,38000,38200,2.26,11.00
11,Argentina,2766890,16.90,5473000000,7.56,157700000000,81650000000,81390000000,33780000000,483500000000,...,755000,2900000000,39537943,118.00,34091,19470000000,8009400,6500000,2.19,14.80
12,Armenia,29800,11.76,-240400000,8.16,905000000,5797000000,6492000000,850000000,13650000000,...,0,NaN,2982904,NaN,845,555000000,562600,114400,1.32,30.00
13,Aruba,193,11.26,NaN,6.57,285000000,751200000,807700000,128000000,1940000000,...,0,NaN,71566,NaN,NaN,NaN,37100,53000,1.79,0.60
14,Ashmore and Cartier Islands,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Australia,7686850,12.26,-38300000000,7.44,308700000000,195600000000,210300000000,86890000000,611700000000,...,537500,3664000000,20090437,17.40,43802,35140000000,10815000,14347000,1.76,5.10
16,Austria,83870,8.81,-3283000000,9.70,15500000000,55090000000,58490000000,102700000000,255900000000,...,20670,85690000,8184691,64.20,6021,12730000000,3881000,7094500,1.36,4.40
17,Azerbaijan,86600,20.40,-2899000000,9.86,1832000000,17370000000,17550000000,3168000000,30010000000,...,312800,589000000,7911974,18.90,2957,875000000,923800,870000,2.44,1.20
18,Bahamas The,13940,17.87,NaN,8.97,308500000,1596000000,1716000000,636000000,5295000000,...,0,NaN,301790,NaN,NaN,NaN,131700,121800,2.20,10.20
19,Bahrain,665,18.10,586100000,4.08,6215000000,6379000000,6860000000,8205000000,13010000000,...,44000,126000000,688345,63.80,NaN,2141000000,185800,443100,2.63,15.00
20,Baker Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bangladesh,144000,30.01,216600000,8.40,19970000000,15300000000,16450000000,7478000000,275700000000,...,3581,28450000,144319628,43.00,2706,3000000000,740000,1365000,3.13,40.00
22,Barbados,431,12.83,NaN,9.17,668000000,744000000,800000000,206000000,4569000000,...,1271,1254000,279254,NaN,NaN,NaN,134000,140000,1.65,10.70
23,Bassas da India,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Belarus,207600,10.83,-1119000000,14.15,600000000,34300000000,30000000000,11470000000,70500000000,...,36000,NaN,10300483,NaN,5523,770200000,3071300,1118000,1.39,2.00
25,Belgium,30528,10.48,11400000000,10.22,28300000000,78820000000,76580000000,255700000000,316200000000,...,0,NaN,10364388,96.20,3518,14450000000,5120400,8135500,1.64,12.00
26,Belize,22966,29.34,-115000000,6.04,1362000000,108800000,117000000,401400000,1778000000,...,0,NaN,279457,NaN,NaN,111100000,33300,60400,3.68,12.90
27,Benin,112620,41.99,-159900000,13.76,1600000000,565200000,285200000,720900000,8338000000,...,700,4105000,7460025,NaN,578,839300000,66500,236200,5.86,NaN
28,Bermuda,53,11.60,NaN,7.63,160000000,598000000,643000000,879000000,2330000000,...,0,NaN,65365,NaN,NaN,NaN,56000,37873,1.89,5.00
29,Bhutan,47000,34.03,NaN,12.94,245000000,312900000,2001000000,154000000,2900000000,...,0,NaN,2232291,NaN,NaN,NaN,25200,22000,4.81,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Tanzania,945087,38.16,-327400000,16.71,7321000000,2566000000,2727000000,1248000000,23710000000,...,0,0,36766356,5.00,3690,2175000000,149100,891200,5.06,NaN
235,Thailand,514000,15.70,6736000000,7.02,50590000000,106100000000,118900000000,87910000000,524800000000,...,225000,600000000,65444371,47.60,4071,48300000000,6617400,26500000,1.88,1.50
236,Togo,56785,33.48,-125600000,11.80,1400000000,451200000,108800000,663100000,8684000000,...,0,NaN,5681519,NaN,568,267400000,60600,220000,4.61,NaN
237,Tokelau,10,NaN,NaN,NaN,0,NaN,NaN,98000,1500000,...,NaN,NaN,1405,NaN,NaN,NaN,300,0,NaN,NaN
238,Tonga,748,25.18,NaN,5.35,63400000,23060000,24790000,27000000,244000000,...,0,NaN,112422,NaN,NaN,NaN,11200,9000,3.00,13.30
239,Trinidad and Tobago,5128,12.81,1548000000,9.37,2940000000,5341000000,5743000000,6671000000,11480000000,...,140000,990000000,1088644,54.40,NaN,2927000000,325100,361900,1.75,10.40
240,Tromelin Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Tunisia,163610,15.50,71850000,5.09,14710000000,10050000000,10720000000,9926000000,70880000000,...,72580,1700000000,10074951,59.20,2152,3509000000,1163800,1899900,1.75,13.80
242,Turkey,780580,16.83,-15300000000,5.96,16900000000,117900000000,139700000000,69460000000,508700000000,...,48000,288400000,69660559,74.30,8671,37100000000,18916700,27887500,1.94,9.30
243,Turkmenistan,488100,27.68,114000000,8.78,2400000000,8908000000,11410000000,4000000000,27600000000,...,162500,273000000,4952081,NaN,2440,3034000000,374000,52000,3.41,60.00
244,Turks and Caicos Islands,430,22.23,NaN,4.28,NaN,4650000,5000000,169200000,216000000,...,0,NaN,20556,NaN,NaN,NaN,5700,1700,3.08,10.00
245,Tuvalu,26,21.91,NaN,7.22,NaN,NaN,NaN,1000000,12200000,...,NaN,NaN,11636,NaN,NaN,NaN,700,0,3.00,NaN
246,Uganda,236040,47.39,-590800000,12.80,3865000000,1401000000,1775000000,621700000,39390000000,...,0,NaN,27269482,73.90,1241,1200000000,61000,776200,6.74,NaN
247,Ukraine,603700,10.49,4584000000,16.42,16370000000,132000000000,180000000000,32910000000,299100000000,...,72000,395000000,47425336,24.70,22473,11330000000,10833300,4200000,1.40,3.50
248,United Arab Emirates,82880,18.78,6300000000,4.26,5900000000,36510000000,45120000000,69480000000,63670000000,...,2335000,97800000000,2563212,17.60,NaN,18640000000,1135800,2972300,2.94,2.40
249,United Kingdom,244820,10.78,-33460000000,10.18,4710000000000,337400000000,395900000000,347200000000,1782000000000,...,1957000,25410000000,60441457,39.60,17186,48730000000,34898000,49677000,1.66,4.80
250,United States,9631418,14.14,-646500000000,8.25,1400000000000,3660000000000,3839000000000,795000000000,11750000000000,...,7800000,22450000000,295734134,65.00,228464,85940000000,181599900,158722000,2.08,5.50
251,Uruguay,176220,14.09,181800000,9.06,12800000000,5878000000,8536000000,2200000000,49270000000,...,0,NaN,3415920,NaN,2073,2362000000,946500,652000,1.91,13.00
252,Uzbekistan,447400,26.22,461900000,7.95,4351000000,46660000000,47700000000,3700000000,47590000000,...,143300,297000000,26851195,41.50,3950,1603000000,1717100,320800,2.94,0.60
253,Vanuatu,12200,23.06,NaN,7.90,83700000,45030000,48420000,26600000,580000000,...,0,NaN,205754,NaN,NaN,NaN,6500,7800,2.77,NaN
254,Venezuela,912050,18.91,14590000000,4.90,33290000000,89300000000,89700000000,35840000000,145200000000,...,2600000,78000000000,25375281,43.10,682,25750000000,2841800,6463600,2.26,17.10
255,Vietnam,329560,17.07,-2061000000,6.20,16550000000,32060000000,34480000000,23720000000,227200000000,...,359400,650000000,83535576,65.90,2600,6510000000,4402000,2742000,1.94,1.90
256,Virgin Islands,352,14.20,NaN,6.26,NaN,962600000,1035000000,NaN,2500000000,...,0,NaN,108708,NaN,NaN,NaN,69400,41000,2.19,9.30
257,Wake Island,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Wallis and Futuna,274,NaN,NaN,NaN,NaN,NaN,NaN,250000,60000000,...,NaN,NaN,16025,NaN,NaN,NaN,1900,0,NaN,NaN
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

#Dropping the first line of the dataset
facts_df = factbook.drop(factbook.index[0])
facts_df

In [14]:
#Dropping the first line of the dataset 
facts_df = factbook.drop(factbook.index[0])
facts_df

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,0,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6.00
6,Andorra,468,9.00,NaN,6.07,NaN,NaN,NaN,58000000,1900000000,...,NaN,NaN,70549,NaN,NaN,NaN,35000,23500,1.29,0.00
7,Angola,1246700,44.64,-37880000,25.90,10450000000,1587000000,1707000000,12760000000,23170000000,...,980000,22880000000,11190786,NaN,2761,800000000,96300,130000,6.27,NaN
8,Anguilla,102,14.26,NaN,5.43,8800000,42600000,NaN,2600000,112000000,...,NaN,NaN,13254,NaN,NaN,NaN,6200,1800,1.73,8.00
9,Antarctica,14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
10,Antigua and Barbuda,443,17.26,NaN,5.44,231000000,103000000,110800000,689000000,750000000,...,0,NaN,68722,NaN,NaN,NaN,38000,38200,2.26,11.00
11,Argentina,2766890,16.90,5473000000,7.56,157700000000,81650000000,81390000000,33780000000,483500000000,...,755000,2900000000,39537943,118.00,34091,19470000000,8009400,6500000,2.19,14.80
12,Armenia,29800,11.76,-240400000,8.16,905000000,5797000000,6492000000,850000000,13650000000,...,0,NaN,2982904,NaN,845,555000000,562600,114400,1.32,30.00
13,Aruba,193,11.26,NaN,6.57,285000000,751200000,807700000,128000000,1940000000,...,0,NaN,71566,NaN,NaN,NaN,37100,53000,1.79,0.60
14,Ashmore and Cartier Islands,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Australia,7686850,12.26,-38300000000,7.44,308700000000,195600000000,210300000000,86890000000,611700000000,...,537500,3664000000,20090437,17.40,43802,35140000000,10815000,14347000,1.76,5.10
16,Austria,83870,8.81,-3283000000,9.70,15500000000,55090000000,58490000000,102700000000,255900000000,...,20670,85690000,8184691,64.20,6021,12730000000,3881000,7094500,1.36,4.40
17,Azerbaijan,86600,20.40,-2899000000,9.86,1832000000,17370000000,17550000000,3168000000,30010000000,...,312800,589000000,7911974,18.90,2957,875000000,923800,870000,2.44,1.20
18,Bahamas The,13940,17.87,NaN,8.97,308500000,1596000000,1716000000,636000000,5295000000,...,0,NaN,301790,NaN,NaN,NaN,131700,121800,2.20,10.20
19,Bahrain,665,18.10,586100000,4.08,6215000000,6379000000,6860000000,8205000000,13010000000,...,44000,126000000,688345,63.80,NaN,2141000000,185800,443100,2.63,15.00
20,Baker Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bangladesh,144000,30.01,216600000,8.40,19970000000,15300000000,16450000000,7478000000,275700000000,...,3581,28450000,144319628,43.00,2706,3000000000,740000,1365000,3.13,40.00
22,Barbados,431,12.83,NaN,9.17,668000000,744000000,800000000,206000000,4569000000,...,1271,1254000,279254,NaN,NaN,NaN,134000,140000,1.65,10.70
23,Bassas da India,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Belarus,207600,10.83,-1119000000,14.15,600000000,34300000000,30000000000,11470000000,70500000000,...,36000,NaN,10300483,NaN,5523,770200000,3071300,1118000,1.39,2.00
25,Belgium,30528,10.48,11400000000,10.22,28300000000,78820000000,76580000000,255700000000,316200000000,...,0,NaN,10364388,96.20,3518,14450000000,5120400,8135500,1.64,12.00
26,Belize,22966,29.34,-115000000,6.04,1362000000,108800000,117000000,401400000,1778000000,...,0,NaN,279457,NaN,NaN,111100000,33300,60400,3.68,12.90
27,Benin,112620,41.99,-159900000,13.76,1600000000,565200000,285200000,720900000,8338000000,...,700,4105000,7460025,NaN,578,839300000,66500,236200,5.86,NaN
28,Bermuda,53,11.60,NaN,7.63,160000000,598000000,643000000,879000000,2330000000,...,0,NaN,65365,NaN,NaN,NaN,56000,37873,1.89,5.00
29,Bhutan,47000,34.03,NaN,12.94,245000000,312900000,2001000000,154000000,2900000000,...,0,NaN,2232291,NaN,NaN,NaN,25200,22000,4.81,NaN
30,Bolivia,1098580,23.76,273000000,7.64,5439000000,3848000000,4132000000,1986000000,22330000000,...,39000,458800000,8857870,NaN,3519,1214000000,600100,1401500,2.94,9.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Tanzania,945087,38.16,-327400000,16.71,7321000000,2566000000,2727000000,1248000000,23710000000,...,0,0,36766356,5.00,3690,2175000000,149100,891200,5.06,NaN
235,Thailand,514000,15.70,6736000000,7.02,50590000000,106100000000,118900000000,87910000000,524800000000,...,225000,600000000,65444371,47.60,4071,48300000000,6617400,26500000,1.88,1.50
236,Togo,56785,33.48,-125600000,11.80,1400000000,451200000,108800000,663100000,8684000000,...,0,NaN,5681519,NaN,568,267400000,60600,220000,4.61,NaN
237,Tokelau,10,NaN,NaN,NaN,0,NaN,NaN,98000,1500000,...,NaN,NaN,1405,NaN,NaN,NaN,300,0,NaN,NaN
238,Tonga,748,25.18,NaN,5.35,63400000,23060000,24790000,27000000,244000000,...,0,NaN,112422,NaN,NaN,NaN,11200,9000,3.00,13.30
239,Trinidad and Tobago,5128,12.81,1548000000,9.37,2940000000,5341000000,5743000000,6671000000,11480000000,...,140000,990000000,1088644,54.40,NaN,2927000000,325100,361900,1.75,10.40
240,Tromelin Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Tunisia,163610,15.50,71850000,5.09,14710000000,10050000000,10720000000,9926000000,70880000000,...,72580,1700000000,10074951,59.20,2152,3509000000,1163800,1899900,1.75,13.80
242,Turkey,780580,16.83,-15300000000,5.96,16900000000,117900000000,139700000000,69460000000,508700000000,...,48000,288400000,69660559,74.30,8671,37100000000,18916700,27887500,1.94,9.30
243,Turkmenistan,488100,27.68,114000000,8.78,2400000000,8908000000,11410000000,4000000000,27600000000,...,162500,273000000,4952081,NaN,2440,3034000000,374000,52000,3.41,60.00
244,Turks and Caicos Islands,430,22.23,NaN,4.28,NaN,4650000,5000000,169200000,216000000,...,0,NaN,20556,NaN,NaN,NaN,5700,1700,3.08,10.00
245,Tuvalu,26,21.91,NaN,7.22,NaN,NaN,NaN,1000000,12200000,...,NaN,NaN,11636,NaN,NaN,NaN,700,0,3.00,NaN
246,Uganda,236040,47.39,-590800000,12.80,3865000000,1401000000,1775000000,621700000,39390000000,...,0,NaN,27269482,73.90,1241,1200000000,61000,776200,6.74,NaN
247,Ukraine,603700,10.49,4584000000,16.42,16370000000,132000000000,180000000000,32910000000,299100000000,...,72000,395000000,47425336,24.70,22473,11330000000,10833300,4200000,1.40,3.50
248,United Arab Emirates,82880,18.78,6300000000,4.26,5900000000,36510000000,45120000000,69480000000,63670000000,...,2335000,97800000000,2563212,17.60,NaN,18640000000,1135800,2972300,2.94,2.40
249,United Kingdom,244820,10.78,-33460000000,10.18,4710000000000,337400000000,395900000000,347200000000,1782000000000,...,1957000,25410000000,60441457,39.60,17186,48730000000,34898000,49677000,1.66,4.80
250,United States,9631418,14.14,-646500000000,8.25,1400000000000,3660000000000,3839000000000,795000000000,11750000000000,...,7800000,22450000000,295734134,65.00,228464,85940000000,181599900,158722000,2.08,5.50
251,Uruguay,176220,14.09,181800000,9.06,12800000000,5878000000,8536000000,2200000000,49270000000,...,0,NaN,3415920,NaN,2073,2362000000,946500,652000,1.91,13.00
252,Uzbekistan,447400,26.22,461900000,7.95,4351000000,46660000000,47700000000,3700000000,47590000000,...,143300,297000000,26851195,41.50,3950,1603000000,1717100,320800,2.94,0.60
253,Vanuatu,12200,23.06,NaN,7.90,83700000,45030000,48420000,26600000,580000000,...,0,NaN,205754,NaN,NaN,NaN,6500,7800,2.77,NaN
254,Venezuela,912050,18.91,14590000000,4.90,33290000000,89300000000,89700000000,35840000000,145200000000,...,2600000,78000000000,25375281,43.10,682,25750000000,2841800,6463600,2.26,17.10
255,Vietnam,329560,17.07,-2061000000,6.20,16550000000,32060000000,34480000000,23720000000,227200000000,...,359400,650000000,83535576,65.90,2600,6510000000,4402000,2742000,1.94,1.90
256,Virgin Islands,352,14.20,NaN,6.26,NaN,962600000,1035000000,NaN,2500000000,...,0,NaN,108708,NaN,NaN,NaN,69400,41000,2.19,9.30
257,Wake Island,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Wallis and Futuna,274,NaN,NaN,NaN,NaN,NaN,NaN,250000,60000000,...,NaN,NaN,16025,NaN,NaN,NaN,1900,0,NaN,NaN
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

In [15]:
largest_area = facts_df["Area(sq km)"].max()
largest_area

'9984670'

In [20]:
large_nations_area = facts_df["Area(sq km)"] = 500000