In [1]:
#Analyze the prices of homes in London on a monthly basis
#Use machine learning to predict a trend in home prices in certain neighborhoods
#Start with two specific neighborhoods individually then to a general trend

import pandas as pd
import numpy as np

In [2]:
london_housing = pd.read_csv("Datasets/housing_in_london_monthly_variables.csv")
london_housing["no_of_crimes"] = london_housing["no_of_crimes"]
london_housing.head()

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
0,1995-01-01,city of london,91449,E09000001,17.0,NaN,1
1,1995-02-01,city of london,82203,E09000001,7.0,NaN,1
2,1995-03-01,city of london,79121,E09000001,14.0,NaN,1
3,1995-04-01,city of london,77101,E09000001,7.0,NaN,1
4,1995-05-01,city of london,84409,E09000001,10.0,NaN,1

In [4]:
london_housing.columns

Index(['date', 'area', 'average_price', 'code', 'houses_sold', 'no_of_crimes',
       'borough_flag'],
      dtype='object')