In [1]:
#Analyze the prices of homes in London on a monthly basis
#Use machine learning to predict a trend in home prices in certain neighborhoods
#Start with two specific neighborhoods individually then to a general trend

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression

import datetime

In [2]:
london_housing = pd.read_csv("Datasets/housing_in_london_monthly_variables.csv")
london_housing["no_of_crimes"] = london_housing["no_of_crimes"].fillna(0)
london_housing['date'] = pd.to_datetime(london_housing.date)

london_housing.head()

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
0,1995-01-01,city of london,91449,E09000001,17.0,0.0,1
1,1995-02-01,city of london,82203,E09000001,7.0,0.0,1
2,1995-03-01,city of london,79121,E09000001,14.0,0.0,1
3,1995-04-01,city of london,77101,E09000001,7.0,0.0,1
4,1995-05-01,city of london,84409,E09000001,10.0,0.0,1

In [3]:
london_housing.columns

Index(['date', 'area', 'average_price', 'code', 'houses_sold', 'no_of_crimes',
       'borough_flag'],
      dtype='object')

In [4]:
london_housing.area.unique()

array(['city of london', 'barking and dagenham', 'barnet', 'bexley',
       'brent', 'bromley', 'camden', 'croydon', 'ealing', 'enfield',
       'tower hamlets', 'greenwich', 'hackney', 'south east',
       'hammersmith and fulham', 'haringey', 'harrow', 'havering',
       'hillingdon', 'hounslow', 'islington', 'kensington and chelsea',
       'kingston upon thames', 'lambeth', 'lewisham', 'merton', 'newham',
       'redbridge', 'richmond upon thames', 'southwark', 'sutton',
       'waltham forest', 'wandsworth', 'westminster', 'inner london',
       'outer london', 'north east', 'north west', 'yorks and the humber',
       'east midlands', 'west midlands', 'east of england', 'london',
       'south west', 'england'], dtype=object)

In [10]:
dt = london_housing['date'].values
dt = dt.astype('datetime64[D]').astype(int)
dt

array([ 9131,  9162,  9190, ..., 18201, 18231, 18262])

In [11]:
london_housing['date'] = dt

In [12]:
london_housing.dtypes

date               int32
area              object
average_price      int64
code              object
houses_sold      float64
no_of_crimes     float64
borough_flag       int64
dtype: object

In [13]:
#do a linear regression line start with a line plot of two different neighborhoods and add a regression line
#compare prices to date for the city of london
city_of_london = london_housing[london_housing['area'] == 'city of london']
X = city_of_london.iloc[:,0].values.reshape(-1,1)
Y = city_of_london.iloc[:,2].values.reshape(-1,1) # -1 means that calculate the dimension of rows, but have 1 column


linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X, Y)  # perform linear regression
Y_pred = linear_regressor.predict(X)  # make predictions

In [ ]:
#k nearest numbers to predict the prices by the neighborhood or houses sold