In [1]:
# Asking Specific Questions

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
rights_awareness = pd.read_csv("Datasets/LGBT_Survey_RightsAwareness.csv")
rights_awareness.head()

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,d1,"In the country where you live, is there a law ...",Yes,53,NaN
1,Austria,Lesbian,d1,"In the country where you live, is there a law ...",No,10,NaN
2,Austria,Lesbian,d1,"In the country where you live, is there a law ...",Don`t know,37,NaN
3,Austria,Gay,d1,"In the country where you live, is there a law ...",Yes,45,NaN
4,Austria,Gay,d1,"In the country where you live, is there a law ...",No,16,NaN

In [5]:
rights_awareness = pd.DataFrame(rights_awareness)

In [8]:
#Question to ask: In the country where you live,
#is there a law that forbids discrimination against persons because of their sexual orientation when applying for a job?
question = ["In the country where you live, is there a law that forbids discrimination against persons because of their sexual orientation when applying for a job?"]

picked_question = rights_awareness[rights_awareness.question_label.isin(question)]
picked_question.head()

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,d1,"In the country where you live, is there a law ...",Yes,53,NaN
1,Austria,Lesbian,d1,"In the country where you live, is there a law ...",No,10,NaN
2,Austria,Lesbian,d1,"In the country where you live, is there a law ...",Don`t know,37,NaN
3,Austria,Gay,d1,"In the country where you live, is there a law ...",Yes,45,NaN
4,Austria,Gay,d1,"In the country where you live, is there a law ...",No,16,NaN

In [9]:
austria_q = picked_question[picked_question["CountryCode"] == "Austria"]

In [14]:
austria_q.groupby("subset").answer.sum()
austria_q

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,d1,"In the country where you live, is there a law ...",Yes,53,NaN
1,Austria,Lesbian,d1,"In the country where you live, is there a law ...",No,10,NaN
2,Austria,Lesbian,d1,"In the country where you live, is there a law ...",Don`t know,37,NaN
3,Austria,Gay,d1,"In the country where you live, is there a law ...",Yes,45,NaN
4,Austria,Gay,d1,"In the country where you live, is there a law ...",No,16,NaN
5,Austria,Gay,d1,"In the country where you live, is there a law ...",Don`t know,39,NaN
6,Austria,Bisexual women,d1,"In the country where you live, is there a law ...",Yes,51,NaN
7,Austria,Bisexual women,d1,"In the country where you live, is there a law ...",No,12,NaN
8,Austria,Bisexual women,d1,"In the country where you live, is there a law ...",Don`t know,37,NaN
9,Austria,Bisexual men,d1,"In the country where you live, is there a law ...",Yes,38,NaN
10,Austria,Bisexual men,d1,"In the country where you live, is there a law ...",No,19,NaN
11,Austria,Bisexual men,d1,"In the country where you live, is there a law ...",Don`t know,43,NaN
12,Austria,Transgender,d1,"In the country where you live, is there a law ...",Yes,54,NaN
13,Austria,Transgender,d1,"In the country where you live, is there a law ...",No,13,NaN
14,Austria,Transgender,d1,"In the country where you live, is there a law ...",Don`t know,34,NaN